.table {
	height: 100%;
	background-color: var(--background-color-primary-bright);
	border-inline: var(--width-border-medium) solid var(--background-color-primary-bright);
}

.table th,
.table td {
	color: var(--text-color-main);
	line-height: 1.6;
	text-align: center;
}

.table th {
	position: sticky;
	top: 0;
	height: var(--height-table-header);
	font-size: var(--font-size-extra-medium);
	padding-block: var(--gap-extra-small);
}

.table td {
	font-size: var(--font-size-medium);
}

.table tr:nth-child(even) {
	background-color: var(--background-color-primary-light);
}

.table-cell {
	text-align: center;
}

.table__column_wide {
	width: 20%;
}

.table__row-image-container {
	width: var(--width-image-main);
	padding-block: var(--gap-medium);
}

.table__row-image {
	display: block;
	width: 100%;
	aspect-ratio: 1;
	object-fit: contain;
}

.table__no-data-row {
	height: calc(100% - var(--height-table-header));
	background-color: var(--background-color-primary-bright);
	text-align: center;
}
