.table {
	background-color: var(--background-color-primary-bright);
}

.table th,
.table td {
	color: var(--text-color-main);
	line-height: 1.6;
}

.table th {
	position: sticky;
	top: 0;
	height: var(--height-table-header);
	font-size: var(--font-size-extra-medium);
	padding-block: var(--gap-extra-small);
}

.table td {
	font-size: var(--font-size-medium);
}

.image-container {
	width: var(--width-image-main);
	margin-block: var(--gap-extra-small);
}

.main-image {
	display: block;
	width: 100%;
	aspect-ratio: 1;
	object-fit: contain;
}

.table-cell {
	text-align: center;
}

.column-wide {
	width: 20%;
}

.skeleton {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100% - var(--height-table-header));
	background-color: var(--background-color-primary-bright);
}
