*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: var(--font-size-root);
}

body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: var(--font-size-extra-medium);
}
