*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: var(--font-size-root);

	/* Hide scrollbar on Firefox, Safari */
	scrollbar-width: none;
	-ms-overflow-style: none;
}

/* Hide scrollbar on Google Chrome. */
html::-webkit-scrollbar {
	display: none;
}

body {
	min-height: 100vh;
	color: var(--text-color-main);
	background-color: var(--background-color-primary);
	font-family: Roboto, "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: var(--font-size-extra-medium);
	line-height: 1.5;
	padding: var(--gap-huge) var(--gap-medium);
}

@media only screen and (max-width: 1320px) {
	body {
		padding: var(--gap-medium);
	}
}
