:root {
	/* Color */
	--text-color-main: #eee;
	--background-color-primary: #111;
	--background-color-primary-light: #333;
	--background-color-primary-bright: #444;
	--border-color-main: #222;

	/* Layout */
	--height-layout-main: 640px;
	--width-layout-main: 1280px;
	--width-layout-sub: 220px;
	--height-image-main: 150px;
	--gap-extra-small: 8px;
	--gap-small: 16px;
	--gap-medium: 20px;
	--gap-large: 30px;
	--gap-extra-large: 40px;
}
