.table {
	background-color: var(--background-color-primary-bright);
}

.table th,
.table td {
	color: var(--text-color-main);
	line-height: 1.6;
}

.table th {
	font-size: var(--font-size-extra-medium);
	padding-block: var(--gap-extra-small);
}

.table td {
	font-size: var(--font-size-medium);
}

.image-container {
	height: var(--height-image-main);
	margin-block: var(--gap-extra-small);
}

img {
	display: block;
	height: 100%;
	aspect-ratio: 1;
	object-fit: contain;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
	text-align: center;
}

[class*="mat-column-title_"] {
	width: 20%;
}
