:host {
	display: flex;
	flex-direction: column;
	gap: var(--gap-medium);
	height: 100%;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__title {
	font-size: var(--font-size-extra-large);
	line-height: 1;
}

.content {
	flex-grow: 1;
	flex-basis: 0;
	overflow-y: scroll;
}

.content::-webkit-scrollbar {
	width: var(--width-table-scrollbar);
}

.content::-webkit-scrollbar-track {
	background-color: var(--background-color-primary-subtle);
}

.content::-webkit-scrollbar-thumb {
	background-color: var(--background-color-primary);
	box-shadow: var(--box-shadow-scrollbar);
}
