<header class="header">
	<h2 class="header__title">All anime</h2>
</header>

<section class="content">
	<camp-anime-table
		[animeList]="(isLoading$ | async) ? [] : (animeList$ | async)?.results || []"
		[isLoading]="isLoading$ | async"
		[error]="error$ | async"
		[paginatorQueryParams]="paginatorQueryParams$ | async"
	/>
</section>

<!-- [pageQueryParam]="pageQueryParams$ | async" -->

<footer>
	<camp-paginator
		[length]="(animeList$ | async)?.count"
		[pageIndex]="((initialPaginatorQueryParams$ | async)?.pageNumber || defaultPageNumber) - 1"
		[pageSize]="(initialPaginatorQueryParams$ | async)?.pageSize"
		[disabled]="isLoading$ | async"
		(pageChange)="onPageChange($event)"
	/>
</footer>
