<header class="header">
	<h2 class="header__title">All anime</h2>
	<camp-filter [disabled]="isLoading$ | async" (selectionChange)="onSelectionChange($event)" />
</header>

<section class="content">
	<camp-anime-table
		[animeList]="(isLoading$ | async) ? [] : (animeList$ | async)?.results || []"
		[isLoading]="isLoading$ | async"
		[error]="error$ | async"
		(sortChange)="onSortChange($event)"
		/>
	</section>

<footer>
	<camp-paginator
		[length]="(animeList$ | async)?.count"
		[disabled]="isLoading$ | async"
		(pageChange)="onPageChange($event)"
	/>
</footer>
