html {
	--mat-select-panel-background-color: var(--background-color-primary-bright);
	--mat-select-enabled-trigger-text-color: var(--color-text-main);
	--mat-select-focused-arrow-color: var(--color-text-main);
	--mat-option-selected-state-layer-color: var(--background-color-primary-extra-bright);
	--mat-option-label-text-color: var(--color-text-main);
	--mat-option-selected-state-label-text-color: var(--color-text-main);
	--mat-option-label-text-size: var(--font-size-medium);
	--mat-paginator-select-trigger-text-size: var(--font-size-medium);
	--mdc-outlined-text-field-focus-outline-color: var(--color-text-main);
	--mdc-outlined-text-field-hover-outline-color: var(--color-text-main);
	--mat-paginator-enabled-icon-color: var(--text-color-main);
	--mat-paginator-disabled-icon-color: var(--background-color-primary-light);
	--mdc-icon-button-icon-size: var(--width-paginator-arrow);
	--mdc-plain-tooltip-supporting-text-size: var(--font-size-small);
}

.mat-mdc-select-panel-above {
	box-shadow: 0 0 var(--width-border-small) var(--background-color-primary-bright);
}
