<div class="form__group">
	<label [for]="uniqueId" class="form__group-label">{{ label }}</label>

	<div class="form__group-input-wrapper">
		<input
			class="form__group-input form__group-password"
			name="password"
			autocomplete="current-password"
			[id]="uniqueId"
			[type]="isPasswordHidden() ? 'password' : 'text'"
			[formControl]="passwordControl"
		>

		<button type="button" class="form__group-input-icon-button" (click)="onTogglePassword()">
			<mat-icon class="form__group-input-icon">
				{{isPasswordHidden() ? 'visibility_off' : 'visibility'}}
			</mat-icon>
		</button>
	</div>

	@if (isInvalid$ | async) {
		<camp-field-error [field]="field" [errors]="passwordControl.errors" />
	}
</div>
