<div class="form__group">
	<label [for]="uniqueId" class="form__group-label">{{ label }}</label>

	<div class="form__group-input-wrapper">
		<input
			class="form__group-input form__group-password"
			name="password"
			autocomplete="current-password"
			[id]="uniqueId"
			[type]="isPasswordHidden() ? 'password' : 'text'"
			[formControl]="control"
		>

		<mat-icon class="form__group-input-icon" (click)="onTogglePassword()">
			{{isPasswordHidden() ? 'visibility_off' : 'visibility'}}
		</mat-icon>
	</div>

	<camp-field-error [errorMessage]="passwordError" />
</div>
