<div class="form__group">
	<label for="sign-in-password" class="form__group-label">Password</label>

	<div class="form__group-input-wrapper">
		<input
			id="sign-in-password"
			class="form__group-input form__group-password"
			name="password"
			[type]="isPasswordHidden() ? 'password' : 'text'"
			[formControl]="passwordControl"
		>

		<mat-icon class="form__group-input-icon" (click)="onTogglePassword()">
			{{isPasswordHidden() ? 'visibility_off' : 'visibility'}}
		</mat-icon>
	</div>

	<camp-field-error [errorMessage]="passwordError" />
</div>
