:host {
	display: flex;
	max-width: var(--width-layout-main);
	height: calc(100vh - 2 * var(--gap-large));
	background-color: var(--background-color-primary-light);
	margin-inline: auto;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--width-layout-sub);
	border-right: var(--width-border-small) solid var(--background-color-primary-subtle);
}

.sidebar__header {
	width: 100%;
	padding-inline: var(--gap-huge);
	padding-block: var(--gap-extra-medium);
}

.sidebar__header-logo {
	display: block;
	width: 100%;
	filter: brightness(0) invert(0.3);
}

.sidebar__list {
	list-style: none;
}

.sidebar__link:link,
.sidebar__link:visited {
	display: block;
	color: inherit;
	font-size: var(--font-size-medium);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: var(--gap-small) var(--gap-large);
}

.sidebar__link.sidebar__link_active {
	background-color: var(--background-color-primary-bright);
}

.sidebar__link.sidebar__link_disable {
	cursor: not-allowed;
	text-decoration: line-through;
}

.main {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--gap-medium) var(--gap-medium);
}

.sidebar__footer {
	padding-bottom: var(--gap-large);
}

.sidebar__footer-text {
	color: var(--background-color-primary-extra-bright);
	font-size: var(--font-size-small);
	text-align: center;
	text-transform: uppercase;
}

@media only screen and (max-width: 1320px) {
	:host {
		height: calc(100vh - 2 * var(--gap-medium));
	}
}
