*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	/* Browser default: 16px -> Reset: 10px -> Easier to set rem unit for "font-size" */
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	color: var(--main-text-color);
	font-family: Inter, sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 1.4;
	position: relative;
	overflow-x: hidden;
}
