button.primary-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

button.primary-button_icon {
	font-size: var(--font-size-medium);
	line-height: 1.6;
}

@media only screen and (max-width: 640px) {
	button.primary-button_icon {
		text-align: right;
		margin-top: var(--gap-regular);
	}
}
