.container {
	display: flex;
	justify-content: center;
	padding: 0 var(--gap-large);
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap-medium);
	max-width: var(--width-main-layout);
}

.content {
	/* https://monosnap.com/file/vJ8gzEqXQhu77XzeCbj7djNiNQ2rj1 */
	grid-template-columns: 33fr 3fr 14fr;
	display: grid;
	width: 100%;
}

.main__header {
	width: 100%;
	height: var(--height-main-header);
	padding: 20px 0;
	border-bottom: 1px solid var(--shadow-color-regular);
}

.category {
	display: flex;
	flex-direction: column;
	gap: var(--gap-large);
	overflow-y: scroll;

	/* The reason we need to subtract gap 2 time -> [main-header] [gap] [content] [gap] [main-footer] */
	height: calc(100vh - var(--height-main-header) - var(--height-main-footer) - 2 * var(--gap-medium));

	/* This help hide scrollbar on Firefox, Safari and IE */
	scrollbar-width: none;
	-ms-overflow-style: none;
}

/* This help hide scrollbar on Chrome */
.category::-webkit-scrollbar {
	display: none;
}

.category__books {
	display: flex;
	flex-direction: column;
}

.category__books-header {
	/*
		top: 0; -> Unexpected UI
		https://monosnap.com/file/s5zicpZP9JTnVKg0H1OSmViKnYKgR1
	*/
	top: -1px;
	position: sticky;
	display: flex;
	gap: var(--gap-small);
	background-color: var(--background-color-main);
	padding-bottom: var(--gap-medium);
}

.category__books-body {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--width-card-large), 1fr));
	gap: var(--gap-regular);
}

.category__book-image {
	width: 100%;
	aspect-ratio: 2 / 3;
	margin-bottom: var(--gap-small);
	border-radius: var(--border-radius-medium);
	border: 1px solid var(--shadow-color-small);
}

.filter {
	grid-column: 3 / 4;
}

.filter,
.filter__inputs {
	display: flex;
	flex-direction: column;
	gap: var(--gap-medium);
	padding: 0 var(--outline-tiny);
}

.filter__title {
	height: var(--height-sub-title);
}

.filter__input-group {
	position: relative;
}

.filter__search-control,
.filter__sort-control {
	display: block;
	width: 100%;
	height: var(--height-main-input);
	border-radius: var(--border-radius-regular);
}

.filter__input-search-icon,
.filter__input-sort-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}

.filter__input-search-icon {
	width: var(--icon-size-large);
	height: var(--icon-size-large);
	left: var(--gap-regular);
}

.filter__search-control {
	background-color: var(--shadow-color-tiny);
	padding: var(--gap-small) var(--gap-medium) var(--gap-small) var(--input-space-icon);
}

.filter__input-sort-icon {
	width: var(--icon-size-medium);
	right: var(--gap-regular);
}

.filter__sort-control {
	/* Remove default arrow */
	appearance: none;
	background-color: var(--shadow-color-tiny);
	color: var(--text-color-main);
	padding: var(--gap-small) var(--gap-regular);
	border: none;
	cursor: pointer;
}

.filter__sort-control:invalid {
	color: var(--shadow-color-large);
}

.filter__sort-control:focus,
.filter__search-control:focus {
	outline: var(--outline-tiny) solid var(--text-color-main);
}

.show-comics__label {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-regular);
	height: var(--height-sub-input);
	cursor: pointer;
}

.show-comics-control {
	display: none;
}

.show-comics-control + .show-comics__box {
	--check-box-size: 20px;

	display: grid;
	place-items: center;
	width: var(--check-box-size);
	height: var(--check-box-size);
	border: 2px solid var(--shadow-color-medium);
	border-radius: var(--border-radius-tiny);
	cursor: pointer;
}

.show-comics-control:checked + .show-comics__box {
	border: 2px solid var(--primary-color);
}

.show-comics-control + .show-comics__box::after {
	--box-dimension: 10px;

	display: none;
	content: "";
	width: var(--box-dimension);
	height: var(--box-dimension);
	background-color: var(--primary-dark-color);
	border-radius: calc(var(--border-radius-tiny) - 1px);
}

.show-comics-control:checked + .show-comics__box::after {
	display: block;
}

.show-comics__text {
	line-height: 1;
}

.main__footer {
	display: flex;
	align-items: start;
	justify-content: space-between;
	width: 100%;
	height: var(--height-main-footer);
	padding-top: var(--gap-medium);
	border-top: 1px solid var(--shadow-color-regular);
}

.main__footer-more {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gap-medium);
}

.main__footer-more-info {
	display: flex;
	align-items: center;
	gap: var(--gap-small);
}

.main__footer-more-info-copyright {
	font-size: var(--font-size-medium);
	line-height: 1.6;
}

.main__footer-more-github {
	display: block;
	color: var(--text-color-main);
	text-decoration-line: underline;
	border-bottom: none;
	cursor: pointer;
}

.go-to-top {
	font-size: var(--font-size-medium);
	line-height: 1.2;
}

.go-to-top__image {
	width: var(--icon-size-small);
}

/*
  RESPONSIVE SECTION
  Use em to avoid unexpected behaviors based on this article -> https://zellwk.com/blog/media-query-units/
  Change px to em -> https://www.w3schools.com/tags/ref_pxtoemconversion.asp
*/

/* Break point: 1024px */
@media only screen and (max-width: 64em) {
	.category__books-body {
		grid-template-columns: repeat(auto-fill, minmax(var(--width-card-medium), 1fr));
	}

	.filter__search-control,
	.filter__sort-control,
	.show-comics__text {
		font-size: var(--font-size-small);
	}
}

/* Break point: 786px */
@media only screen and (max-width: 49.125em) {
	.container {
		padding: 0 var(--gap-medium);
	}

	.content {
		grid-template-columns: 1fr;
		height: calc(100vh - var(--height-main-header) - var(--height-main-footer) - 2 * var(--gap-medium));
		overflow-y: scroll;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.content::-webkit-scrollbar {
		display: none;
	}

	.category {
		overflow-y: unset;
	}

	.filter {
		grid-column: unset;
		grid-row: 1 / 2;
		padding-bottom: var(--gap-medium);
		margin-bottom: var(--gap-medium);
		border-bottom: 1px solid var(--shadow-color-regular);
	}

	.filter__inputs {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: var(--gap-regular);
	}

	.filter__input-group-search,
	.filter__input-group-sort {
		flex: 3;
	}

	.show-comics__container {
		flex: 2;
	}

	.show-comics__label {
		gap: var(--gap-small);
	}
}

/* Break point: 640px */
@media only screen and (max-width: 40em) {
	.filter__inputs {
		flex-direction: column;
		align-items: stretch;
	}

	.main__footer {
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
	}

	.main__footer-more {
		justify-content: space-between;
	}

	.go-to-top {
		text-align: right;
		margin-top: var(--gap-regular);
	}
}
