:root {
  --heading-color-1: #ffd700;
  --heading-color-2: #e9967a;
  --heading-color-3: #b0e0e6;

  --main-background-color: #fff;
  --main-text-color: #000;

  /* 0.05 */
  --shadow-color-tiny: #0000000d;
  /* 0.1 */
  --shadow-color-small: #0000001a;
  /* 0.15 */
  --shadow-color-regular: #00000026;
  /* 0.2 */
  --shadow-color-medium: #00000033;
  /* 0.5 */
  --shadow-color-large: #00000080;

  /* Layouts */

  --width-main-layout: 1360px;

  /* We need these variable to calc flex to create layout */
  --width-main-layout-number: 1360;
  --width-sub-layout-number: 900;
  --width-tiny-layout-number: 380;

  --gap-small: 8px;
  --gap-regular: 16px;
  --gap-medium: 24px;
  --gap-extra-medium: 32px;
  --gap-large: 40px;
  --gap-huge: 80px;

  --gap-large-number: 40;
  --gap-huge-number: 80;

  /* Dimensions */

  --height-main-header: 64px;
  --height-main-footer: 128px;

  --height-sub-title: 24px;

  --height-main-input: 48px;
  --height-sub-input: 32px;
}