.main {
	display: flex;
	max-width: var(--width-layout-main);
	min-height: var(--height-layout-main);
	background-color: var(--background-color-primary-light);
	margin-inline: auto;
}

.side-bar {
	width: var(--width-layout-sub);
	border-right: 2px solid var(--border-color-main);
}

.content {
	flex-grow: 1;
	flex-basis: 0;
	padding: var(--gap-medium) var(--gap-medium) var(--gap-extra-large);
}

.list {
	list-style: none;
}

.link:link,
.link:visited {
	display: block;
	color: inherit;
	font-size: 1.4rem;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: var(--gap-small) var(--gap-large);
}

.link.active {
	background-color: var(--background-color-primary-bright);
}

.link.disable {
	cursor: not-allowed;
	text-decoration: line-through;
}
