/*
  Use em to avoid unexpected behaviors based on this article -> https://zellwk.com/blog/media-query-units/
  Change px to em -> https://www.w3schools.com/tags/ref_pxtoemconversion.asp

  I haven't seen best practices about media query in Wiki
  so I decided to use em here, if Saritasa has some requirements about this problem,
  please notice me in the Code Review, thanks so much.

  In the design we have breakpoints 1280px, 786px and 360px
  I add 2 more breakpoints: 1024px and 640px to make the layout more flexible but don't break the rules of the design
  Additional breakpoints based on Tailwindcss -> Check it here: https://v1.tailwindcss.com/docs/breakpoints
*/

/* 1280px */
@media only screen and (max-width: 80em) {
  /* Layout styles */

  .content-gap {
    flex: calc(var(--gap-large-number) / var(--width-main-layout-number));
  }

  /* Category styles */

  .category {
    flex: calc((var(--width-sub-layout-number) + var(--gap-large-number)) / var(--width-main-layout-number));
  }

  /* Filter styles */

  .filter {
    flex: calc((var(--width-tiny-layout-number)) / var(--width-main-layout-number));
  }
}

/* 1024px */
@media only screen and (max-width: 64em) {
  /* Category styles */

  .category__books-body {
    grid-template-columns: repeat(4, 1fr);
  }

  /* Filter styles */

  #search,
  #sort,
  .show-comics__text {
    font-size: var(--font-size-small);
  }
}

/* 786px */
@media only screen and (max-width: 49.125em) {
  /* Layout styles */

  .main {
    padding: 0 var(--gap-medium);
  }

  .content {
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100vh - var(--height-main-header) - var(--height-main-footer) - 2 * var(--gap-medium));
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .content::-webkit-scrollbar {
    display: none;
  }

  .content-gap {
    display: none;
  }

  /* Category styles */

  .category {
    order: 2;
    flex: unset;
    overflow-y: unset;
  }

  /* Filter styles */

  .filter {
    order: 1;
    flex: unset;
    padding-bottom: var(--gap-medium);
    margin-bottom: var(--gap-medium);
    border-bottom: 1px solid var(--shadow-color-regular);
  }

  .filter__inputs {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-regular);
  }

  .filter__input-group--search,
  .filter__input-group--sort {
    flex: 3;
  }

  .show-comics__container {
    flex: 2;
  }

  .show-comics__label {
    gap: var(--gap-small);
  }
}

/* 640px */
@media only screen and (max-width: 40em) {
  /* Category styles */

  .category__books-body {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Filter styles */

  .filter__inputs {
    flex-direction: column;
    align-items: stretch;
  }

  /* Footer styles */

  .main__footer {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  .main__footer-more {
    justify-content: space-between;
  }

  .go-to-top {
    text-align: right;
    margin-top: var(--gap-regular);
  }
}

/* 360px */
@media only screen and (max-width: 22.5em) {
  /* Category styles */

  .category__books-body {
    grid-template-columns: repeat(2, 1fr);
  }
}
