@import url("./variables");
@import url("./typography.css");
@import url("./base.css");
@import url("./button.css");

.block,
.sub-block {
	background-color: var(--background-color-light);
	padding: var(--gap-medium);
	border: 1px solid var(--border-main-color);
	border-radius: var(--border-radius-small);
}

.block,
.main__header-title {
	margin-bottom: var(--gap-huge);
}

.sub-block,
.user__info {
	margin-bottom: var(--gap-medium);
}

.main {
	flex: 1;
	max-width: var(--main-layout);
}

.user.winner {
	background-color: var(--winner-color);
}

.user__info {
	display: flex;
	align-items: center;
}

.user__info-dash {
	margin: 0 var(--gap-small);
}

.user__info-result {
	color: var(--text-dark-color);
}

.user__info-in-turn {
	display: none;
	background: var(--brand-color);
	text-transform: uppercase;
	padding: var(--gap-tiny) var(--gap-small);
	margin-left: var(--gap-large);
	border-radius: var(--border-radius-large);
}

.user.active .user__info-in-turn {
	display: block;
}
