.font-bold {
	font-size: 1.4rem;
	font-weight: 600;
}

.font-semibold {
	font-size: 0.8rem;
	font-weight: 600;
}

.font-large {
	font-size: 2rem;
}

.font-medium {
	font-size: 1.6rem;
}

.font-small {
	font-size: 1.4rem;
}
