:root {
	/* Layouts */
	--width-main-layout: 700px;

	/* Colors */
	--winner-color: #ff2e2e;
	--button-main-color: #007bff;
	--brand-color: #98eb98;
	--text-primary-color: #333;
	--text-dark-color: #000;
	--text-light-color: #fff;
	--background-color-light: #fff;
	--background-color-shadow: #f5f5f5;
	--border-main-color: #ddd;

	/* Utils */
	--gap-huge: 20px;
	--gap-large: 16px;
	--gap-medium: 10px;
	--gap-small: 8px;
	--gap-tiny: 4px;
	--border-radius-large: 10px;
	--border-radius-small: 6px;
}
