<h2 class="header-title">Let's sign up! Onii-chan :3</h2>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
	<camp-field-email [touched]="form.controls.email.touched" [emailControl]="form.controls.email" />

	<camp-field-password [isLoading]="isLoading()" [touched]="form.controls.password.touched" [control]="form.controls.password"  />
o
	<camp-field-password
		label="Password confirm"
		field="passwordConfirm"
		[isLoading]="isLoading()"
		[touched]="form.controls.email.touched"
		[control]="form.controls.passwordConfirm"
	/>

	<camp-field-name
		label="First name"
		field="firstName"
		[touched]="form.controls.firstName.touched"
		[control]="form.controls.firstName"
		[isLoading]="isLoading()"
	/>

	<camp-field-name
		label="Last name"
		field="lastName"
		[touched]="form.controls.lastName.touched"
		[control]="form.controls.lastName"
		[isLoading]="isLoading()"
	/>

	<div class="form__group form__group-call-to-sign-action">
		<p>Onii-chan already has an account?</p>
		<a class="form__group-link" [routerLink]="['../', 'signin']">Let's sign in</a>
	</div>

	<div class="form__group">
		<button class="form__group-submit-button" type="submit">Sign up</button>
	</div>
</form>
