<h2 class="header-title">Let's sign up! Onii-chan :3</h2>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
	<camp-field-email #email [emailControl]="this.form.controls.email" [isLoading]="isLoading()" />

	<camp-field-password #password [control]="this.form.controls.password" [isLoading]="isLoading()" />

	<camp-field-password
		#passwordConfirm
		label="Password confirm"
		field="passwordConfirm"
		[control]="this.form.controls.passwordConfirm"
		[isLoading]="isLoading()"
	/>

	<camp-field-name
		#firstName
		label="First name"
		field="firstName"
		[control]="this.form.controls.firstName"
		[isLoading]="isLoading()"
	/>

	<camp-field-name
		#lastName
		label="Last name"
		field="lastName"
		[control]="this.form.controls.lastName"
		[isLoading]="isLoading()"
	/>

	<div class="form__group form__group-call-to-sign-action">
		<p>Onii-chan already has an account?</p>
		<a class="form__group-link" [routerLink]="['../', 'signin']">Let's sign in</a>
	</div>

	<div class="form__group">
		<button class="form__group-submit-button" type="submit">Sign up</button>
	</div>
</form>
