:host {
	display: block;
}

.header-title {
	font-size: var(--font-size-extra-large);
	line-height: var(--line-height-title);
	text-align: center;
	margin-bottom: var(--gap-large);
}

.form {
	min-width: var(--width-layout-form);
	background-color: var(--background-color-primary-bright);
	font-size: var(--font-size-medium);
	padding: var(--gap-extra-medium) var(--gap-extra-large);
	border: 1px solid var(--background-color-primary-subtle);
	overflow: hidden;
}

.form__group,
.form__group-label {
	display: flex;
	flex-direction: column;
	gap: var(--gap-extra-small);
}

.form__group {
	padding-block: var(--gap-medium-small);
}

.form__group-label {
	font-size: var(--font-size-extra-medium);
	font-weight: var(--font-weight-medium);
}

.form__group-input-wrapper {
	position: relative;
}

.form__group-input {
	width: 100%;
	background-color: var(--background-color-primary-extra-bright);
	color: inherit;
	font-family: inherit;
	padding: var(--gap-medium-small) var(--gap-small);
	border: 1px solid var(--background-color-primary-light);
	caret-color: var(--text-color-main);
}

.form__group-input:focus {
	outline: 1px solid var(--background-color-primary-subtle);
}

.form__group-input:disabled {
	background-color: var(--background-color-primary-light);
}

/*
	Style input autocomplete background color
	https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
*/
.form__group-input:-webkit-autofill,
.form__group-input:-webkit-autofill:hover,
.form__group-input:-webkit-autofill:focus,
.form__group-input:-webkit-autofill:active {
	background-clip: text;
	-webkit-text-fill-color: var(--text-color-main);
	transition: background-color 5000s ease-in-out 0s;
	box-shadow: inset 0 0 var(--gap-medium) var(--gap-medium) var(--background-color-primary-extra-bright);
}

.form__group-input:-webkit-autofill:disabled {
	box-shadow: inset 0 0 var(--gap-medium) var(--gap-medium) var(--background-color-primary-light);
}

.form__group-input-icon-button {
	background-color: transparent;
	border: none;
	position: absolute;
	top: 50%;
	right: var(--gap-small);
	transform: translateY(-50%);
	filter: brightness(0.8);
	cursor: pointer;
}

.form__group-input-icon {
	color: var(--text-color-main);
}

.form__group-error-message {
	color: var(--error-color-main);
}

.form__group-link:link,
.form__group-link:visited {
	color: var(--text-color-main);
	font-weight: var(--font-weight-medium);
}

.form__group-link_disabled {
	cursor: not-allowed;
}

.form__group-submit-button {
	background-color: var(--background-color-primary-extra-bright);
	color: var(--text-color-main);
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-extra-medium);
	padding: var(--gap-medium-small) var(--gap-small);
	transition: 0.2s;
	border: 1px solid var(--background-color-primary-bright);
	cursor: pointer;
}

.form__group-submit-button:hover {
	border: 1px solid var(--background-color-primary-light);
}

.form__group-submit-button:disabled {
	background-color: var(--background-color-primary-light);
	cursor: not-allowed;
}

.form__group-call-to-sign-action {
	flex-direction: row;
	align-items: center;
}
