.home-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--gap-medium);
	height: 100%;
}

.home-header__title {
	font-size: var(--font-size-extra-large);
}

.home-content {
	flex-grow: 1;
	flex-basis: 0;
}

.error-message {
	color: var(--error-color-main);
}
